.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid; /* Asignarle al elemento una grilla */
    grid-template-rows: 100px 200px; /* grid-template asignar tamaño de grilla a cada rows*/
    grid-auto-columns: 100px; /* Asignarle tamaño a todas las grillas en column */
    grid-auto-flow: column; /* Asignarle el orde de llenar la grilla, si en filas o columnas */
    row-gap: 30px;  /* row-gap genera espacio entre cada grilla */
    column-gap: 30px; /* column-gap genera espacio entre cada grilla */
    gap: 50px; /* gap genera espacio entre cada grilla tanto en columns como en rows*/
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}